#project{
    min-width: 250px;
    min-height: 250px;
    max-width: 20%;
    display: inline-block;
    flex: 1;
    margin: 20px;
}

#list{
    display: grid;
    grid-template-columns: auto auto auto auto;
    gap: 10px;
    padding: 10px;
}  

#list > div {
  text-align: center;
  padding: 20px 0;
  display: block;
}

#listproject{
    margin: 30px;
}

/* .card-body{
    min-height: 70%;
} */

#addproject{
    width: 80%;
    height: 80%;
    opacity: 0.3;
}

#buttonaddproject{  
    /* /* height: auto;    */
    all: revert;
    min-width: 20%;
    min-height: 40%;
}

